@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right,  #e0dde6 0%, #9b96bee3 100%);
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .gradient {
    background: linear-gradient(90deg, #edecee 0%, #59585ce3 100%);
  }
  .bg-gradient{
    background: linear-gradient(to right, rgba(203, 208, 219, 0.9),rgba(250, 238, 238, 0.88));
  }
  .gradient-text {
    background: linear-gradient(90deg, #f84545 0%, #4b7ce7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
  }
  .gradient-heading {
    background: linear-gradient(90deg, #131212 0%, #2c2fe9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
  }
  @media  (max-width: 768px) {
      .mobile{
    clip-path: polygon(100% 1%, 100% 0, 100% 100%, 100% 100%);
    position: absolute;
    top: 2.6rem;
    right: 0;
    z-index: 90;
    transition: all 0.4s ease;
    overflow: hidden;
    background: linear-gradient(90deg, #131212 0%, #2c2fe9 100%);
  }
  .mobile.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  }

}

@layer base {
  :root {
    --background: 235 56% 74% / 0.61
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 235 56% 74% / 0.61;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
